
{% if user.is_authenticated %}
<li class="nav-item active">
    <span class="nav-link p-2 m-2">Welcome {{ user.username }}</span>
</li>
<li class="nav-item">
    <a href="{% url 'logout' %}" class=" nav-link text-light p-2 m-2">
        <i class="fas fa-sign-out-alt"></i> Log out
    </a>
</li>
{% else %}
<li class="nav-item">
    <span class="nav-link p-2 m-2">You are not logged in.</span>
</li>

<li class="nav-item active">
    <a href="{% url 'login' %}" class="nav-link text-light p-2 m-2">
        <i class="fas fa-sign-in-alt"></i> Log In
    </a>
</li>
{% endif %}
