{% extends 'superhero_theme.html'%}
{% load static %}

{% block main %}

<div>
    <div class="card border-dark mb-3" style="max-width: 60rem;">
        <div class="card-body">
            <h2>Title: {{ Postblog.title }} </h2>
            <h2>Author: {{ Postblog.author }}</h2>
            <p>Text: {{ Postblog.text }}</p>
            <a href="{% url 'blog_edit' blog.id %}" class="btn btn-primary"> Edit</a>
            <a href="{% url 'blog_delete' blog.id %}" class="btn btn-primary"> Delete</a>

        </div>
    </div>


</div>

{% endblock main %}