{% extends 'superhero_theme.html'%}
{% load static %}


 {% block main %}

</div>
 
  </div>
    <title>SuperHero List</title>

    <body>
        <h1 style="text-align: center;">SuperHero List</h1>
        <h2 style="text-align: center;" >
            These are my favorite heros.
        </h2>
       <h3 style="text-align: center;"><Strong>Click on Superhero Name to see their Identity, Strength, Weakness and Picture!</strong></h3>
        <p style="text-align: center;"> <a href="{% url 'hero_add' %}" class="btn btn-primary">Add Hero</a> </p>
        <hr>
       {% for hero in object_list %}

       <div class="card text-white bg-dark mb-3" style="width: 35rem;">
        <div class="card-body">
           <h3>
               <a href="{% url 'hero_detail' hero.pk %}">{{ hero.name }}</a>
           </h3>
           <p>{{ hero.body }}</p>
           <a href="{% url 'hero_edit' hero.pk %}" class="btn btn-primary"> Edit</a>
           <a href="{% url 'hero_delete' hero.pk %}" class="btn btn-primary"> Delete</a>
           
           </div>
       </div>
       
       <hr>
       
       {% endfor %}

       
       

    </body>

{% endblock main %}

